


[Unit]
Description=Coturn 
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=coturn
NoNewPrivileges=true
Image=docker.io/coturn/coturn:latest
# ReadOnly=true
AutoUpdate=registry
# Network=web.network

Volume=/etc/coturn/turnserver.conf:/etc/coturn/turnserver.conf:ro,z
Volume=traefik-certs.volume:/data/certs:ro,U
# TODO: TURN TLS
PublishPort=0.0.0.0:60006-65535:60006-65535/udp
PublishPort=[::]:60006-65535:60006-65535/udp
PublishPort=0.0.0.0:3478:3478
PublishPort=[::]:3478:3478
PublishPort=0.0.0.0:3478:3478/udp
PublishPort=[::]:3478:3478/udp
PublishPort=0.0.0.0:5349:5349
PublishPort=[::]:5349:5349
PublishPort=0.0.0.0:5349:5349/udp
PublishPort=[::]:5349:5349/udp


Label="traefik.enable=false"
Label="traefik.http.routers.coturn.rule=Host(`coturn.ellis.link`)"

# Label="traefik.http.routers.coturn.entrypoints=https"

# Label="traefik.http.routers.coturn.middlewares=default@file"

Label="homepage.group=Services"
Label="homepage.name=coturn"
# Label="homepage.href=https://coturn.ellis.link"

# Label="kuma.coturn.http.name=Uptime Kuma"
# Label=kuma.__web='"coturn.ellis.link"'

StopTimeout=100

[Service]

Restart=on-failure
RestartSec=5

TimeoutStopSec=2m
TimeoutStartSec=2m

# StartLimitInterval=1m
StartLimitBurst=5

[Install]
WantedBy=default.target