

[Unit]
Description=homepage Dashboard
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=homepage
NoNewPrivileges=true
Image=ghcr.io/gethomepage/homepage:latest
Volume=/etc/homepage:/app/config:z
PodmanArgs=--privileged
Volume=/run/podman/podman.sock:/var/run/docker.sock:z
AutoUpdate=local
Network=web.network

Label="traefik.enable=true"
Label="traefik.http.routers.homepage.rule=Host(`homepage.ellis.link`)"
Label="traefik.http.routers.homepage.entrypoints=https"

Label="traefik.http.routers.homepage.tls.certresolver=letsencrypt"

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target