

[Unit]
Description=homepage Dashboard
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=homepage
NoNewPrivileges=true
Image=ghcr.io/gethomepage/homepage:latest
Volume=/etc/homepage:/app/config:z
PodmanArgs=--privileged
Volume=/run/podman/podman.sock:/var/run/docker.sock:z
AutoUpdate=registry
Network=web.network

Label="traefik.enable=true"
Label="traefik.http.routers.homepage.rule=Host(`homepage.ellis.link`)"
Label="traefik.http.routers.homepage.entrypoints=https"

Label="traefik.http.middlewares.compress.compress=true"

Label="traefik.http.middlewares.hsts.headers.stsincludesubdomains=false"
Label="traefik.http.middlewares.hsts.headers.stspreload=true"
Label="traefik.http.middlewares.hsts.headers.stsseconds=31536000"
Label="traefik.http.middlewares.hsts.headers.isdevelopment=false"

Label="traefik.http.routers.homepage.middlewares=hsts,compress"


Label="homepage.group=Public"
Label="homepage.name=Homepage"
Label="homepage.href=https://homepage.ellis.link/"
Label="homepage.description=Here!"
Label="homepage.siteMonitor=https://homepage.ellis.link/"
Label=kuma.__monitor=''

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target