

[Unit]
Description=Website Frontend
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=jade-website-frontend
NoNewPrivileges=true
Image=oci-archive:/opt/images/jade-website-frontend
ReadOnly=true
# Volume=/var/opt/thelounge:/var/opt/thelounge:z,U
AutoUpdate=local
Network=web.network


Environment=ORIGIN=https://jade.ellis.link
# PROTOCOL_HEADER=x-forwarded-proto HOST_HEADER=x-forwarded-host 

Label="traefik.enable=true"
Label="traefik.http.routers.jade-website-frontend.rule=(Host(`jade.ellis.link`) || (Host(`ellis.link`) && Path(`/.well-known/webfinger`)))"

Label="traefik.http.routers.jade-website-frontend.entrypoints=https"

Label="traefik.http.routers.jade-website-frontend.tls.certresolver=letsencrypt"
# Label="traefik.http.routers.jade-website-frontend.tls.options=intermediate@file"

Label="traefik.http.routers.jade-website-frontend.middlewares=default@file"

Label="homepage.group=Public"
Label="homepage.name=Website"
Label="homepage.href=https://jade.ellis.link/"
Label="homepage.siteMonitor=https://jade.ellis.link/"
Label="homepage.description=My personal website!"

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target