

[Unit]
Description=Maubot
Wants=network-online.target
After=network-online.target
Documentation=https://docs.mau.fi/maubot/index.html

[Container]
ContainerName=maubot
NoNewPrivileges=true
Image=dock.mau.dev/maubot/maubot:latest
ReadOnly=true
Volume=/var/opt/maubot:/data:z,U
AutoUpdate=registry
# Network=web.network=

Label="traefik.enable=true"
Label="traefik.http.routers.maubot.rule=Host(`maubot.ellis.link`)"
Label="traefik.http.services.maubot.loadbalancer.server.port=29316"

Label="traefik.http.routers.maubot.entrypoints=https"

Label="traefik.http.routers.maubot.tls.certresolver=letsencrypt"
# Label="traefik.http.routers.maubot.tls.options=intermediate@file"

Label="traefik.http.routers.maubot.middlewares=default@file"

Label="homepage.group=Services"
Label="homepage.name=Maubot"
Label="homepage.href=https://maubot.ellis.link/"
# https://github.com/girlbossceo/conduwuit/blob/032b199129f8648a77bde285f755a78e9ec349a7/src/api/client/unversioned.rs#L142
# Label="homepage.siteMonitor=" 
Label="homepage.description=Matrix bot"



StopTimeout=100

[Service]

Restart=on-failure
RestartSec=5

TimeoutStopSec=2m
TimeoutStartSec=2m

# StartLimitInterval=1m
StartLimitBurst=5

[Install]
WantedBy=default.target