[Unit]
Description=Matrix Whatsapp Bridge
Wants=network-online.target
After=network-online.target
After=conduwuit.service
Documentation=https://github.com/mautrix/whatsapp

[Container]
ContainerName=mautrix-whatsapp
Image=dock.mau.dev/mautrix/whatsapp:latest
Volume=/var/opt/mautrix/whatsapp:/data:z
AutoUpdate=registry
Network=web.network:alias=as-mautrix-whatsapp

Label="traefik.enable=true"
Label="traefik.http.routers.mautrix-whatsapp.rule=Host(`mautrix-whatsapp.ellis.link`)"

Label="traefik.http.routers.mautrix-whatsapp.entrypoints=https"
Label="traefik.http.services.mautrix-whatsapp.loadbalancer.server.port=29318"

Label="traefik.http.routers.mautrix-whatsapp.middlewares=default@file"

Label="homepage.group=Services"
Label="homepage.name=mautrix-whatsapp"
# Label="homepage.href=https://jade.ellis.link/"
# Label="homepage.siteMonitor=https://matrix.ellis.link/client/server.json" 
Label="homepage.description=Matrix bridge"
Label="homepage.siteMonitor=https://mautrix-whatsapp.ellis.link/_matrix/mau/ready" 
# https://github.com/mautrix/go/blob/d89912cfcb416ffe26101790c043dd47e4508811/appservice/appservice.go#L69
Label=kuma.__monitor=''

StopTimeout=100

[Service]

Restart=on-failure
RestartSec=5

TimeoutStopSec=2m
TimeoutStartSec=2m

# StartLimitInterval=1m
StartLimitBurst=5

[Install]
WantedBy=default.target