

[Unit]
Description=pitch-tagai
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=pitch-tagai
NoNewPrivileges=true
Image=localhost/pitch-tagai:latest
PodmanArgs=--stop-timeout=0
# StopTimeout=1

# Volume=/var/opt/thelounge:/var/opt/thelounge:z,U
AutoUpdate=local
Network=web.network

Label="traefik.enable=true"
Label="traefik.http.routers.pitch-tagai.rule=Host(`pitch-tagai.ellis.link`)"
Label="traefik.http.routers.pitch-tagai.entrypoints=https"

Label="traefik.http.routers.pitch-tagai.tls.certresolver=letsencrypt"


Label="traefik.http.middlewares.compress.compress=true"

Label="traefik.http.middlewares.hsts.headers.stsincludesubdomains=false"
Label="traefik.http.middlewares.hsts.headers.stspreload=true"
Label="traefik.http.middlewares.hsts.headers.stsseconds=31536000"
Label="traefik.http.middlewares.hsts.headers.isdevelopment=false"

Label="traefik.http.routers.pitch-tagai.middlewares=hsts,compress"

# Label="homepage.group=Public"
# Label="homepage.name=Website"
# Label="homepage.href=https://jade.ellis.link/"
# Label="homepage.siteMonitor=https://jade.ellis.link/"
# Label="homepage.description=My personal website!"

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target