

[Unit]
Description=TheLounge (IRC web client)
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=thelounge
NoNewPrivileges=true
Image=ghcr.io/thelounge/thelounge:latest
Volume=/var/opt/thelounge:/var/opt/thelounge:z,U
AutoUpdate=registry
Network=web.network

Label="traefik.enable=true"
Label="traefik.http.routers.thelounge.rule=Host(`thelounge.ellis.link`)"
Label="traefik.http.services.thelounge.loadbalancer.server.port=9000"
Label="traefik.http.routers.thelounge.entrypoints=https"

Label="traefik.http.middlewares.compress.compress=true"

Label="traefik.http.middlewares.hsts.headers.stsincludesubdomains=false"
Label="traefik.http.middlewares.hsts.headers.stspreload=true"
Label="traefik.http.middlewares.hsts.headers.stsseconds=31536000"
Label="traefik.http.middlewares.hsts.headers.isdevelopment=false"

Label="traefik.http.routers.thelounge.middlewares=hsts,compress"

Label="homepage.group=Public"
Label="homepage.name=TheLounge"
Label="homepage.href=https://thelounge.ellis.link/"
Label="homepage.siteMonitor=https://thelounge.ellis.link/"
Label="homepage.description=IRC web client / bouncer"
Label=kuma.__monitor=''

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target