[Network]
DisableDNS=false
Internal=false
IPv6=true
Subnet=10.89.0.0/24
Gateway=10.89.0.1
Subnet=fd76:6f6d:f45e:ea1a::/64
Gateway=fd76:6f6d:f45e:ea1a::1