{% extends "_layout.html.j2" %}

{%- block head -%}
<link rel="stylesheet" href="/_continuwuity/resources/error.css">
{%- endblock -%}

{%- block title -%}
🐈 Request Error
{%- endblock -%}

{%- block content -%}
<pre class="k10y" aria-hidden>
　　　 　  ／＞　　 フ
　　　 　  | 　_　 _|
　 　　  ／` ミ＿xノ
　　 　 /　　　 　 |
　　　 /　 ヽ　　 ﾉ
　 　 │　　|　|　|
　／￣|　　 |　|　|
　| (￣ヽ＿_ヽ_)__)
　＼二つ
</pre>
<div class="panel">
    <h1>Request error<small aria-hidden>（︶^︶）</small></h1>

    <pre><code>{{ error }}</code></pre>
</div>

{%- endblock -%}
