{% extends "_base.txt.j2" %}

{% block content -%}
Hello {{ display_name }} ({{ user_id }}),

Somebody, probably you, tried to reset your Matrix account's password.
If you requested for your password to be reset, click this link to proceed:
    {{ verification_link }}
Otherwise, you can ignore this email. The above link will expire in one hour.
{%- endblock %}
