<ul>
    {% for scope in scopes %}
        {% match scope %}
            {% when OAuthClientScope::ApiFullAccess %}
                <li>Send messages and interact with chatrooms on your behalf</li>
            {% when OAuthClientScope::ServerAdministration %}
                <li>⚠️ Administrate this homeserver
                <br><em class="negative">This is a dangerous permission. Make sure you trust this app.</em></li>
            {% when _ %}
                <li>missingno</li>
        {% endmatch %}
    {% endfor %}
</ul>
