{% if let Some(banner) = banner %}
<div class="card red-avatar has-banner" style="--banner-url: url('{{ banner }}');">
{% else %}
<div class="card red-avatar">
{% endif %}
    {{ avatar }}
    <div class="info">
        {% if let Some(display_name) = display_name %}
        <div class="name">{{ display_name }}</div>
        {% endif %}
        <div class="id">{{ user_id }}</div>
    </div>
</div>
