

[Unit]
Description=Redis Server
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=redis
NoNewPrivileges=true
Image=docker.io/library/redis:alpine

AutoUpdate=registry
Network=internal.network

Label="homepage.group=Services"
Label="homepage.name=Redis"

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target